{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Sadanand Kumar</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Sadanand Kumar. Currently Pursuing Bachelors in
                    Information
                    Technology.My Main Focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in Full Stack Development.</p>
            </center>
            <div>
                <h5>Social Media Handles:</h5>

                <a target="_blank" href="sadanandkumar8789@gmail.com">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRStqTNMWehhRt-35YQKIrIjIFa9tUTcYzKdQ&s" height="40" width="40">
                </a> : Sadanand Kumar  
                <br><br>
                
                <a target="_blank" href="https://www.facebook.com/share/14zdcWUqQe/">
                    <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" height="40" width="40">
                </a> : Sadanand Kumar  
                <br><br>
            
                <a target="_blank" href="https://github.com/Sadanand87">
                    <img src="https://logowik.com/content/uploads/images/github9775.jpg" height="40" width="40">
                </a> : Sadanand Kumar  
                <br><br>
            
                <a target="_blank" href="https://www.linkedin.com/in/sadanand8789">
                    <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="40" width="40">
                </a> : Sadanand Kumar  
            </div>
            
    </div>

   
</div>

{% endblock body %}